<!-- a collection gets passed in -->
<div>
  {% assign collection = site.[include.collection] %}
  {% for item in collection %}
  <div class="alder-outer-container">
    <h3>{{item.name}}</h3>
    <div class="alder-inner-container">
      <picture>
        <source srcset="{{ item.image | relative_url | replace:'.png','.webp' | replace:'.jpg','.webp' }}" type="image/webp">
        <img loading="lazy" src="{{item.image}}" alt="Alderperson headshot." width="225px">
      </picture>
      <!-- text -->
      {{item.content}}
    </div>
  </div>
  {% endfor %}
</div>