<style>
  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
</style>
<div id='mySidenav' class='sidenav'>
  <strong class='toc-title' style="padding-right: 20px;">Table of Contents</strong>
  <span class='closebtn'>&times;</span>
  <div class='toc-list'>
  * this unordered seed list will be replaced by toc as unordered list
  {:toc}  
  </div>
</div>
  <span class="open-btn" style='font-size:30px;cursor:pointer'>&#9776; open</span>
<script>
  let isOpen = false;
  document.querySelector('#markdown-toc').style.display = 'none';
  document.querySelector('.toc-title').style.display = 'none';
  document.querySelector('.open-btn').onclick = function() {
    openNav();
  }
  document.querySelector('.closebtn').onclick = function() {
    closeNav();
  }
  document.getElementById('mySidenav').addEventListener('click', function(event) {
    event.stopPropagation();
  })
  function openNav() {
    document.getElementById('mySidenav').style.width = '250px';
    setTimeout(function() {
      document.querySelector('#markdown-toc').style.display = 'block';
      document.querySelector('.toc-title').style.display = 'block';
      isOpen = true;
    }, 400);
  };
  function closeNav() {
    isOpen = false;
    document.querySelector('#markdown-toc').style.display = 'none';
    document.querySelector('.toc-title').style.display = 'none'
    document.getElementById('mySidenav').style.width = '0px';
  };
  document.addEventListener('click', function(event) {
      if (isOpen) {
        closeNav();
      }
    })
</script>